input,
textarea,
select {
    /* justify-content: space-around; */
    border-radius: 10px;
    width: 400px;
    margin-left: 30px;
    box-shadow: 10px 10px 10px grey;
}

label {
    margin-left: 12px;
    font-weight: 500;
}