<!-- <div>
    <ng-content></ng-content>
</div>
<div>

    <table border=2px cellspacing="5px" cellpadding="5px">
        <th>Name</th>
        <th>ngForAge</th>
        <th>ID</th>
        <tr *="let p of product">
            <td>{{p.name}}</td>
            <td>{{p.age}}</td>
            <td>{{p.id}}</td>
        </tr>

    </table>



</div>







<div>
    <ng-content select=".link"></ng-content>
</div> -->

<h1 style=" color: crimson;">Wel-Come To Test-Yantra</h1>
<ng-content></ng-content>